server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always

spring:
  application:
    name: user-profile-service

  datasource:
    url: jdbc:postgresql://profile-postgres:5432/labodc
    username: labodc
    password: labodc
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: profile-redis
      port: 6379

  rabbitmq:
    host: profile-rabbitmq
    port: 5672
    username: guest
    password: guest

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
