services:

  postgres:
    image: postgres:15
    container_name: labodc-postgres
    restart: always
    environment:
      POSTGRES_DB: labodc
      POSTGRES_USER: labodc
      POSTGRES_PASSWORD: labodc
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: labodc-redis
    restart: always
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: labodc-rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"

  backend:
    container_name: labodc-user-profile-service
    build: .
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
      - rabbitmq
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/labodc
      SPRING_DATASOURCE_USERNAME: labodc
      SPRING_DATASOURCE_PASSWORD: labodc
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672

  frontend:
    container_name: labodc-frontend
    build: ./frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  postgres_data:
