server:
  port: 8080

spring:
  application:
    name: enterprise-service

  datasource:
    url: jdbc:postgresql://postgres:5432/labodc
    username: labodc
    password: labodc

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  redis:
    host: redis
    port: 6379

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
